.tasks__title img {
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

.tasks:not(:last-of-type) {
  margin-bottom: 40px;
}

.tasks__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #64c4ed;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

.tasks__title:hover img {
  opacity: 0.8;
}

.checkbox label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e8e8e8;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox input {
  display: none;
}

.taskText {
  margin-left: 15px;
  border: 0;
  font-size: 16px;
  width: 100%;
}

input:checked + label {
  background-color: #4dd599;
  border-color: #4dd599;
}

.tasks__items {
  margin-top: 20px;
}

.tasks__items h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  color: #c9d1d3;
  left: 50%;
  top: 18%;
  position: absolute;
}

.items-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tasks__items-row-actions {
  display: flex;
  opacity: 0.1;
  transition: opacity 0.15s ease-in-out;
}

.tasks__items-row-actions:hover {
  opacity: 1;
}

.items-row input {
  margin-left: 15px;
  border: 0;
  font-size: 16px;
  width: 100%;
}

.tasks__form {
  margin-top: 20px;
}

.tasks__form-new {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.tasks__form-new:hover {
  opacity: 1;
}

.tasks__form-new span {
  font-size: 16px;
  margin-left: 19px;
}

.tasks__items-row-actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: lighten(#f4f6f8, 2%);
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;

  &:hover {
    background-color: darken(#f4f6f8, 2%);
    svg {
      opacity: 0.9;
    }
  }
  svg {
    width: 11px;
    height: 11px;
    opacity: 0.4;
  }
}